<style>

  .individual {
    font-family: Arial !important;
  }

  .entity tr.r0{ height: 15px; }
  .entity tr.r0 td.r14c1{ font-family: arial; font-size: 9pt; font-style: normal; vertical-align: top; }
  .entity tr.r0 td.r22c1{ text-align: center; vertical-align: top; overflow: hidden;border-left: #000000 2px solid; border-top: #000000 1px solid; }
  .entity tr.r0 td.r22c2{ vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; }
  .entity tr.r0 td.r22c3{ text-align: right; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; }
  .entity tr.r0 td.r22c4{ vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; }
  .entity tr.r0 td.r22c6{ text-align: right; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; border-right: #000000 2px solid; }
  .entity tr.r0 td.r2c19{ font-family: arial; font-size: 9pt; font-style: normal; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; border-bottom: #000000 1px solid; border-right: #000000 1px solid; }
  .entity tr.r0 td.r2c22{ font-family: arial; font-size: 9pt; font-style: normal; vertical-align: top; border-left: #000000 1px solid; border-top: #ffffff 0px none; border-bottom: #000000 1px solid; border-right: #000000 1px solid; }
  .entity tr.r0 td.r37c6{ }
  .entity tr.r0 td.r3c1{ border-left: #000000 1px solid; border-bottom: #000000 1px solid; border-right: #000000 1px solid; }
  .entity tr.r0 td.r5c1{ font-family: arial; font-size: 9pt; font-style: normal; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; }
  .entity tr.r0 td.r7c1{ font-family: arial; font-size: 8pt; font-style: normal; vertical-align: medium; border-left: #000000 1px solid; border-top: #ffffff 0px none; border-bottom: #000000 1px solid; }
  .entity tr.r0 td.r9c1{ font-family: arial; font-size: 14pt; font-style: normal; font-weight: bold; vertical-align: medium; }
  .entity tr.r1{ height: 17px; }
  .entity tr.r1 td.r16c1{ font-family: arial; font-size: 9pt; font-style: normal; vertical-align: top; }
  .entity tr.r1 td.r16c5{ font-family: arial; font-size: 9pt; font-style: normal; font-weight: bold; vertical-align: top; }
  .entity tr.r1 td.r1c1{ font-family: arial; font-size: 9pt; font-style: normal; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; border-right: #000000 1px solid; }
  .entity tr.r1 td.r1c19{ font-family: arial; font-size: 9pt; font-style: normal; vertical-align: medium; border-left: #000000 1px solid; border-top: #000000 1px solid; border-bottom: #000000 1px solid; border-right: #000000 1px solid; }
  .entity tr.r1 td.r1c22{ font-family: arial; font-size: 9pt; font-style: normal; vertical-align: medium; border-left: #000000 1px solid; border-top: #000000 1px solid; border-bottom: #ffffff 0px none; border-right: #000000 1px solid; }
  .entity tr.r1 td.r21c1{ font-family: arial; font-size: 9pt; font-style: normal; font-weight: bold; text-align: center; vertical-align: medium; border-left: #000000 2px solid; border-top: #000000 2px solid; }
  .entity tr.r1 td.r21c2{ font-family: arial; font-size: 9pt; font-style: normal; font-weight: bold; text-align: center; vertical-align: medium; border-left: #000000 1px solid; border-top: #000000 2px solid; }
  .entity tr.r1 td.r21c6{ font-family: arial; font-size: 9pt; font-style: normal; font-weight: bold; text-align: center; vertical-align: medium; border-left: #000000 1px solid; border-top: #000000 2px solid; border-right: #000000 2px solid; }
  .entity tr.r1 td.r24c5{ font-family: arial; font-size: 9pt; font-style: normal; font-weight: bold; text-align: right; vertical-align: top; }
  .entity tr.r1 td.r27c1{ font-family: arial; font-size: 9pt; font-style: normal; }
  .entity tr.r1 td.r36c1{ font-family: arial; font-size: 9pt; font-style: normal; font-weight: bold; }
  .entity tr.r1 td.r36c10{ text-align: right; border-bottom: #000000 1px solid; }
  .entity tr.r1 td.r36c6{ border-bottom: #000000 1px solid; }
  .entity tr.r1 td.r4c1{ font-family: arial; font-size: 9pt; font-style: normal; vertical-align: medium; border-left: #000000 1px solid; border-top: #000000 1px solid; }
  .entity tr.r1 td.r4c19{ font-family: arial; font-size: 9pt; font-style: normal; vertical-align: top; border-left: #000000 1px solid; border-top: #000000 1px solid; border-bottom: #000000 1px solid; border-right: #000000 1px solid; }
  .entity tr.r1 td.r4c3{ font-family: arial; font-size: 9pt; font-style: normal; vertical-align: medium; border-top: #000000 1px solid; border-right: #000000 1px solid; }
  .entity tr.r11{ height: 9px; }
  .entity tr.r11 td.r11c1{ border-bottom: #000000 2px solid; }
  .entity tr.r11 td.r23c1{ border-top: #000000 2px solid; }
  .entity tr.r13{ height: 18px; }
  .entity tr.r13 td.r13c1{ font-family: arial; font-size: 9pt; font-style: normal; vertical-align: top; }
  .entity tr.r13 td.r13c5{ font-family: arial; font-size: 9pt; font-style: normal; font-weight: bold; vertical-align: top; }
  .entity tr.r29{ height: 10px; }
  .entity tr.r29 td.r29c1{ font-family: arial; font-size: 9pt; font-style: normal; }
  .entity tr.r30{ height: 16px; }
  .entity tr.r30 td.r30c1{ font-family: arial; font-size: 9pt; font-style: normal; }
  .entity tr.r33{ height: 31px; }
  .entity tr.r33 td.r33c1{ font-family: arial; font-size: 9pt; font-style: normal; }
  .entity table {table-layout: fixed; padding: 0px; padding-left: 2px; vertical-align:bottom; border-collapse:collapse;width: 100%; font-family: arial; font-size: 8pt; font-style: normal; }
  .entity td { padding: 0px; padding-left: 2px;position: relative; }
  .entity .write{display: block;position: absolute;bottom: -10px;width:150px;height:150px;}
  .entity .mark {display: block;position: absolute;bottom: 0;width:150px;height:40px;}


    .table-wrap{padding:10px;}
    .service-form {border: 1px solid #000;border-collapse: separate;}
    .service-form + a {margin-top: 40px;display: block;}
    .service-form td {padding: 6px; font-size:14px;vertical-align:middle;}
    .service-form .first {text-align: center; border-right: 2px solid #000;font-size:18px;vertical-align:middle;min-width:170px;}
    .service-form .small {font-size: 10px; text-align: center; padding-top: 0;}
    .service-form .border-bottom{border-bottom: 1px solid #000;}
    .service-form .strong {font-weight: bold;}
    .service-form .last {text-align: right;min-width: 40px;}
    .service-form .border-around{border: 1px solid #000;}
    .service-form .border-around + .border-around{border-left: none;}
    .service-form .small-text {font-size: 12px;}
    .service-form .top td {padding: 0;}
    .service-form .center {text-align: center;}

    .white{background: #fff;}

    .page__content {
        position: relative;
        max-width: 100%;
        width: 100%;
        background: #fff;
        min-width: 100%;
        height: auto;
        min-height: 100%;
    }

    @media(print) {

    	.table-wrap{padding:0px;}
    	.service-form{width: auto;max-width: 760px;}
    }
</style>
<div class="page__content individual table-wrap white" ng-if="type=='individual'">
  <table class="service-form" style="width:1100px">
    <tbody>
      <tr class="top">
        <td class="first"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="first" rowspan="2">Извещение</td>
        <td colspan="5">Получатель:</td>
        <td colspan="31" class="border-bottom strong">ООО ‟НПЦ ‟МОНО‟</td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="small" colspan="36">(Наименование получателя платежа)</td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td colspan="2">ИНН</td>
        <td class="border-around strong">7</td>
        <td class="border-around strong">7</td>
        <td class="border-around strong">3</td>
        <td class="border-around strong">3</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">2</td>
        <td class="border-around strong">2</td>
        <td class="border-around strong">5</td>
        <td class="border-around strong">6</td>
        <td class="border-around strong">9</td>
        <td colspan="3" style="text-align: right">№ счета</td>
        <td class="border-around strong">4</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">7</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">2</td>
        <td class="border-around strong">8</td>
        <td class="border-around strong">1</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">9</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">2</td>
        <td class="border-around strong">4</td>
        <td class="border-around strong">1</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">8</td>
        <td class="border-around strong">3</td>
        <td class="border-around strong">2</td>
        <td colspan="1"></td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td></td>
        <td class="small" colspan="11">(ИНН получателя платежа)</td>
        <td class="small" colspan="24">(номер счета получателя платежа)</td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td>в</td>
        <td class="border-bottom strong" colspan="23">АО ‟АЛЬФА-БАНК‟ Г. МОСКВА </td>
        <td colspan="2">БИК:</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">4</td>
        <td class="border-around strong">4</td>
        <td class="border-around strong">5</td>
        <td class="border-around strong">2</td>
        <td class="border-around strong">5</td>
        <td class="border-around strong">5</td>
        <td class="border-around strong">9</td>
        <td class="border-around strong">3</td>
        <td></td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td class="small" colspan="23">(наименование банка получателя платежа)</td>
        <td colspan="13"></td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td colspan="14">Номер кор./сч. банка получателя платежа:</td>
        <td class="border-around strong">3</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">1</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">1</td>
        <td class="border-around strong">8</td>
        <td class="border-around strong">1</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">2</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">5</td>
        <td class="border-around strong">9</td>
        <td class="border-around strong">3</td>
        <td colspan="2"></td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td class="border-bottom strong" colspan="22">Оплата за интернет-услуги. Продления лицензии на онлайн консультант {{bill.start|date : 'dd.MM.yyyy'}} – {{bill.end|date : 'dd.MM.yyyy'}}.</td>
        <td></td>
        <td class="border-bottom strong" colspan="13"></td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td class="small" colspan="22">(наименование платежа)</td>
        <td></td>
        <td class="small" colspan="13">(№ л.счета (код) плательщика)</td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td colspan="36"></td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td colspan="6">Ф.И.О. плательщика</td>
        <td colspan="30" class="strong border-bottom">{{billaccount.name}}</td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td colspan="6">Адрес плательщика</td>
        <td colspan="30" class="strong border-bottom">{{billaccount.address}}</td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td colspan="5">Сумма платежа</td>
        <td colspan="7" class="strong border-bottom center">{{bill.summ}}</td>
        <td>руб </td>
        <td class="border-bottom strong">00</td>
        <td colspan="2">коп</td>
        <td colspan="7" style="text-align:right">Сумма платы за услуги</td>
        <td class="border-bottom" colspan="6">0</td>
        <td colspan="2">руб </td>
        <td class="border-bottom strong" colspan="3">00</td>
        <td colspan="2">коп</td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td colspan="3">Итого:</td>
        <td colspan="9" class="strong border-bottom center">{{bill.summ}}</td>
        <td>руб </td>
        <td class="border-bottom strong">00</td>
        <td colspan="2">коп</td>
        <td colspan="10"></td>
        <td colspan="10">{{date}}</td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first" rowspan="3">Кассир</td>
        <td colspan="36" class="small-text">С условиями приема указанной в платежном документе суммы, в т.ч. с суммой взимаемой платы за услуги банка</td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>

        <td colspan="11" class="small-text">ознакомлен и согласен </td>
        <td class="small-text" colspan="2">Подпись:</td>
        <td colspan="8" class="border-bottom"></td>
        <td colspan="15"></td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr class="bottom">
        <td colspan="36"></td>
        <td class="last" colspan="5"></td>
      </tr>
    </tbody>
  </table>
  <table class="service-form" style="width:1100px">
    <tbody>
      <tr class="top">
        <td class="first"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="first" rowspan="2">Квитанция</td>
        <td colspan="5">Получатель:</td>
        <td colspan="31" class="border-bottom strong">ООО ‟НПЦ ‟МОНО‟</td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="small" colspan="36">(Наименование получателя платежа)</td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td colspan="2">ИНН</td>
        <td class="border-around strong">7</td>
        <td class="border-around strong">7</td>
        <td class="border-around strong">3</td>
        <td class="border-around strong">3</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">2</td>
        <td class="border-around strong">2</td>
        <td class="border-around strong">5</td>
        <td class="border-around strong">6</td>
        <td class="border-around strong">9</td>
        <td colspan="3" style="text-align: right">№ счета</td>
        <td class="border-around strong">4</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">7</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">2</td>
        <td class="border-around strong">8</td>
        <td class="border-around strong">1</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">9</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">2</td>
        <td class="border-around strong">4</td>
        <td class="border-around strong">1</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">8</td>
        <td class="border-around strong">3</td>
        <td class="border-around strong">2</td>
        <td colspan="1"></td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td></td>
        <td class="small" colspan="11">(ИНН получателя платежа)</td>
        <td class="small" colspan="24">(номер счета получателя платежа)</td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td>в</td>
        <td class="border-bottom strong" colspan="23">АО ‟АЛЬФА-БАНК‟ Г. МОСКВА </td>
        <td colspan="2">БИК:</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">4</td>
        <td class="border-around strong">4</td>
        <td class="border-around strong">5</td>
        <td class="border-around strong">2</td>
        <td class="border-around strong">5</td>
        <td class="border-around strong">5</td>
        <td class="border-around strong">9</td>
        <td class="border-around strong">3</td>
        <td></td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td class="small" colspan="23">(наименование банка получателя платежа)</td>
        <td colspan="13"></td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td colspan="14">Номер кор./сч. банка получателя платежа:</td>
        <td class="border-around strong">3</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">1</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">1</td>
        <td class="border-around strong">8</td>
        <td class="border-around strong">1</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">2</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">0</td>
        <td class="border-around strong">5</td>
        <td class="border-around strong">9</td>
        <td class="border-around strong">3</td>
        <td colspan="2"></td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td class="border-bottom strong" colspan="22">Оплата за интернет-услуги. Продления лицензии на онлайн консультант {{bill.start|date : 'dd.MM.yyyy'}} – {{bill.end|date : 'dd.MM.yyyy'}}.</td>
        <td></td>
        <td class="border-bottom strong" colspan="13"></td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td class="small" colspan="22">(наименование платежа)</td>
        <td></td>
        <td class="small" colspan="13">(№ л.счета (код) плательщика)</td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td colspan="36"></td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td colspan="6">Ф.И.О. плательщика</td>
        <td colspan="30" class="strong border-bottom">{{billaccount.name}}</td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td colspan="6">Адрес плательщика</td>
        <td colspan="30" class="strong border-bottom">{{billaccount.address}}</td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td colspan="5">Сумма платежа</td>
        <td colspan="7" class="strong border-bottom center">{{bill.summ}}</td>
        <td>руб </td>
        <td class="border-bottom strong">00</td>
        <td colspan="2">коп</td>
        <td colspan="7" style="text-align:right">Сумма платы за услуги</td>
        <td class="border-bottom" colspan="6">0</td>
        <td colspan="2">руб </td>
        <td class="border-bottom strong" colspan="3">00</td>
        <td colspan="2">коп</td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first"></td>
        <td colspan="3">Итого:</td>
        <td colspan="9" class="strong border-bottom center">{{bill.summ}}</td>
        <td>руб </td>
        <td class="border-bottom strong">00</td>
        <td colspan="2">коп</td>
        <td colspan="10"></td>
        <td colspan="10">{{date}}</td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td class="first" rowspan="3">Кассир</td>
        <td colspan="36" class="small-text">С условиями приема указанной в платежном документе суммы, в т.ч. с суммой взимаемой платы за услуги банка</td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr>
        <td colspan="11" class="small-text">ознакомлен и согласен </td>
        <td class="small-text" colspan="2">Подпись:</td>
        <td colspan="8" class="border-bottom"></td>
        <td colspan="15"></td>
        <td class="last" colspan="5"></td>
      </tr>
      <tr class="bottom">
        <td colspan="36"></td>
        <td class="last" colspan="5"></td>
      </tr>
    </tbody>
  </table>
</div>
<div ng-if="type=='entity'" class="page__content entity">
  <table style="width:0px; height:0px; " cellspacing=0>
<col width=7>
<col width=21>
<col width=21>
<col width=21>
<col width=26>
<col width=15>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=17>
<col width=16>
<col width=16>
<col width=17>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=23>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=12>
<col width=13>
<tr class=r0>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
<tr class=r1>
<td><span></span></td>
<td class="r1c1" colspan=18 rowspan=2><div style="width:100%;height:31px;overflow:hidden;">АО "АЛЬФА-БАНК" Г. МОСКВА</div></td>
<td class="r1c19" colspan=3><span style="white-space:nowrap;max-width:0px;">БИК</span></td>
<td class="r1c22" colspan=11><span style="white-space:nowrap;max-width:0px;">044525593</span></td>
<td><span></span></td>
<td></td>
</tr>
<tr class=r0>
<td><span></span></td>
<td class="r2c19" colspan=3 rowspan=2><div style="width:100%;height:29px;overflow:hidden;"><span style="white-space:nowrap;max-width:0px;">Сч.&nbsp;№</span></div></td>
<td class="r2c22" colspan=11 rowspan=2><div style="width:100%;height:29px;overflow:hidden;"><span style="white-space:nowrap;max-width:0px;">30101810200000000593</span></div></td>
<td><span></span></td>
<td></td>
</tr>
<tr class=r0>
<td><span></span></td>
<td class="r3c1" colspan=18><span style="white-space:nowrap;max-width:0px;">Банк&nbsp;получателя</span></td>
<td><span></span></td>
<td></td>
</tr>
<tr class=r1>
<td><span></span></td>
<td class="r4c1" colspan=2><span style="white-space:nowrap;max-width:0px;">ИНН</span></td>
<td class="r4c3" colspan=7><span style="white-space:nowrap;max-width:0px;">7733022569</span></td>
<td class="r4c1" colspan=2><span style="white-space:nowrap;max-width:0px;">КПП&nbsp;&nbsp;</span></td>
<td class="r4c3" colspan=7><span style="white-space:nowrap;max-width:0px;">773301001</span></td>
<td class="r4c19" colspan=3 rowspan=4><div style="width:100%;height:61px;overflow:hidden;"><span style="white-space:nowrap;max-width:0px;">Сч.&nbsp;№</span></div></td>
<td class="r4c19" colspan=11 rowspan=4><div style="width:100%;height:61px;overflow:hidden;"><span style="white-space:nowrap;max-width:0px;">40702810902410000832</span></div></td>
<td><span></span></td>
<td></td>
</tr>
<tr class=r0>
<td><span></span></td>
<td class="r5c1" colspan=18 rowspan=2><div style="width:100%;height:29px;overflow:hidden;">ООО "НПЦ "МОНО""</div></td>
<td><span></span></td>
<td></td>
</tr>
<tr class=r0>
<td><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
<tr class=r0>
<td><span></span></td>
<td class="r7c1" colspan=18><span style="white-space:nowrap;max-width:0px;">Получатель</span></td>
<td><span></span></td>
<td></td>
</tr>
<tr>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
<tr class=r0>
<td><span></span></td>
<td class="r9c1" colspan=32 rowspan=2><div style="width:100%;height:29px;overflow:hidden;"><span style="white-space:nowrap;max-width:0px;">
  Счет на оплату №{{bill.numb}} от {{date}}</span></div></td>
<td><span></span></td>
<td></td>
</tr>
<tr class=r0>
<td><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
<tr class=r11>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1" colspan=32><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="width:100%;height:9px;overflow:hidden;">&nbsp;</div></td>
</tr>
<tr class=r11>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="width:100%;height:9px;overflow:hidden;">&nbsp;</div></td>
</tr>
<tr class=r13>
<td><span></span></td>
<td class="r13c1" colspan=4><span style="white-space:nowrap;max-width:0px;">Поставщик</span></td>
<td class="r13c5" colspan=28 rowspan=2><div style="width:100%;height:32px;overflow:hidden;">ООО "НПЦ "МОНО"", ИНН 7733022569, КПП 773301001, г. Москва,  ул. Свободы, дом № 95, корпус 2, тел.: +7 495 778-40-41</div></td>
<td><span></span></td>
<td></td>
</tr>
<tr class=r0>
<td><div style="position:relative; height:15px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r14c1" colspan=4><div style="width:100%;height:15px;overflow:hidden;"><span style="white-space:nowrap;max-width:0px;">(Исполнитель):</span></td>
<td><div style="position:relative; height:15px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="width:100%;height:15px;overflow:hidden;"></div></td>
</tr>
<tr class=r11>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="width:100%;height:9px;overflow:hidden;">&nbsp;</div></td>
</tr>
<tr class=r1>
<td><span></span></td>
<td class="r16c1" colspan=4><span style="white-space:nowrap;max-width:0px;">Покупатель</span></td>
<td class="r16c5" colspan=28 rowspan=2><div style="width:100%;height:31px;overflow:hidden;">{{billaccount.name}}, {{billaccount.address}}, ИНН {{billaccount.inn}}</div></td>
<td><span></span></td>
<td></td>
</tr>
<tr class=r0>
<td><div style="position:relative; height:15px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r14c1" colspan=4><div style="width:100%;height:15px;overflow:hidden;"><span style="white-space:nowrap;max-width:0px;">(заказчик):</span></td>
<td><div style="position:relative; height:15px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="width:100%;height:15px;overflow:hidden;"></div></td>
</tr>
<tr class=r11>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="width:100%;height:9px;overflow:hidden;">&nbsp;</div></td>
</tr>
<tr class=r1>
<td><span></span></td>
<td class="r16c1" colspan=4><span style="white-space:nowrap;max-width:0px;">Основание:</span></td>
<td class="r16c5" colspan=28>Договор оферта</td>
<td><span></span></td>
<td></td>
</tr>
<tr class=r11>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="width:100%;height:9px;overflow:hidden;">&nbsp;</div></td>
</tr>
</table>
<table style="width:0px; height:0px; " cellspacing=0>
<col width=7>
<col width=32>
<col width=329>
<col width=55>
<col width=42>
<col width=86>
<col width=100>
<tr class=r1>
<td><span></span></td>
<td class="r21c1"><span style="white-space:nowrap;max-width:0px;">№</span></td>
<td class="r21c2"><span style="white-space:nowrap;max-width:0px;">Товары&nbsp;(работы,&nbsp;услуги)</span></td>
<td class="r21c2"><span style="white-space:nowrap;max-width:0px;">Кол-во</span></td>
<td class="r21c2"><span style="white-space:nowrap;max-width:0px;">Ед.</span></td>
<td class="r21c2"><span style="white-space:nowrap;max-width:0px;">Цена</span></td>
<td class="r21c6"><span style="white-space:nowrap;max-width:0px;">Сумма</span></td>
<td></td>
</tr>
<tr class=r0>
<td><span></span></td>
<td class="r22c1"><span style="white-space:nowrap;max-width:0px;">1</span></td>
<td class="r22c2">Лицензии на онлайн консультант {{bill.start|date : 'dd.MM.yyyy'}} – {{bill.end|date : 'dd.MM.yyyy'}}</td>
<td class="r22c3"><span style="white-space:nowrap;max-width:0px;">1</span></td>
<td class="r22c4"><span style="white-space:nowrap;max-width:0px;">шт</span></td>
<td class="r22c3"><span style="white-space:nowrap;max-width:0px;">{{bill.summ}},00</span></td>
<td class="r22c6"><span style="white-space:nowrap;max-width:0px;">{{bill.summ}},00</span></td>
<td></td>
</tr>
<tr class=r11>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r23c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r23c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r23c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r23c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r23c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r23c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="width:100%;height:9px;overflow:hidden;">&nbsp;</div></td>
</tr>
<tr class=r1>
<td class="r24c5" colspan=6><span style="white-space:nowrap;max-width:0px;">Итого:</span></td>
<td class="r24c5"><span style="white-space:nowrap;max-width:0px;">{{bill.summ}},00</span></td>
<td></td>
</tr>
<tr class=r1>
<td class="r24c5" colspan=6><span style="white-space:nowrap;max-width:0px;">Без&nbsp;налога&nbsp;(НДС)</span></td>
<td class="r24c5"><span style="white-space:nowrap;max-width:0px;">-</span></td>
<td></td>
</tr>
<tr class=r1>
<td class="r24c5" colspan=6><span style="white-space:nowrap;max-width:0px;">Всего&nbsp;к&nbsp;оплате:</span></td>
<td class="r24c5"><span style="white-space:nowrap;max-width:0px;">{{bill.summ}},00</span></td>
<td></td>
</tr>
</table>
<table style="width:0px; height:0px; " cellspacing=0>
<col width=7>
<col width=21>
<col width=21>
<col width=21>
<col width=26>
<col width=15>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=17>
<col width=16>
<col width=16>
<col width=17>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=23>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=21>
<col width=12>
<col width=13>
<tr class=r1>
<td><span></span></td>
<td class="r27c1" colspan=32><span style="white-space:nowrap;max-width:0px;">Всего&nbsp;наименований&nbsp;1,&nbsp;на&nbsp;сумму&nbsp;{{bill.summ}},00&nbsp;руб.</span></td>
<td><span></span></td>
<td></td>
</tr>
<tr class=r1>
<td><span></span></td>
<td class="r16c5" colspan=31>{{bill.summ|summword}}</td>
<td><span></span></td>
<td><span></span></td>
<td></td>
</tr>
<tr class=r29>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r29c1"><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:10px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="width:100%;height:10px;overflow:hidden;">&nbsp;</div></td>
</tr>
<tr class=r30>
<td><span></span></td>
<td class="r30c1" colspan=32>Внимание!</td>
<td><span></span></td>
<td></td>
</tr>
<tr class=r30>
<td><span></span></td>
<td class="r30c1" colspan=32>Оплата данного счета означает согласие с условиями договора оферты.</td>
<td><span></span></td>
<td></td>
</tr>
<tr class=r30>
<td><span></span></td>
<td class="r30c1" colspan=32>Уведомление об оплате обязательно, в противном случае не гарантируется наличие товара на складе.</td>
<td><span></span></td>
<td></td>
</tr>
<tr class=r33>
<td><span></span></td>
<td class="r33c1" colspan=32>Товар отпускается по факту прихода денег на р/с поставщика, самовывозом, при наличии доверенности и паспорта.</td>
<td><span></span></td>
<td></td>
</tr>
<tr class=r11>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td class="r11c1"><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="position:relative; height:9px;width: 100%; overflow:hidden;"><span></span></div></td>
<td><div style="width:100%;height:9px;overflow:hidden;">&nbsp;</div></td>
</tr>
<tr>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
<tr class=r1>
<td><span></span></td>
<td class="r36c1" colspan=5><span style="white-space:nowrap;max-width:0px;">Руководитель</span></td>
<td class="r36c6"><span class="write"><img src="/assets/i/write_mark.png" width="150" height="140"/></span></td>
<td class="r36c6"><span></span></td>
<td class="r36c6"><span></span></td>
<td class="r36c6"><span></span></td>
<td class="r36c10" colspan=9>Российский А.А.</td>
<td><span></span></td>
<td class="r36c1" colspan=4><span style="white-space:nowrap;max-width:0px;">Бухгалтер</span></td>
<td class="r36c6"><span class="mark"><img src="/assets/i/write.png" width="150" height="40"/></span></td>
<td class="r36c6"><span></span></td>
<td class="r36c6"><span></span></td>
<td class="r36c10" colspan=6><span></span></td>
<td><span></span></td>
<td></td>
</tr>
<tr class=r0>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td class="r37c6" colspan=13><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td><span></span></td>
<td colspan=9><span></span></td>
<td><span></span></td>
<td>&nbsp;</td>
</tr>
</table>

</div>
