<div class="alert alert-page-notification fade js-show-in" role="alert" ng-controller="installAppNotifyCtrl">
    <button type="button" class="close" aria-label="Close" ng-click="deleteNotify($event)"></button>
    <div data-toggle="modal" data-target="#installAppModal">
        <img class="alert__image" src="../../assets/i/logo.png" width="45" height="50" />
        <h4 class="alert__title">Приложение для ПК доступно для вас!</h4>
        <p class="alert__text">Используйте приложение для ПК, будьте на связи и не пропустите ни одного сообщения.</p>
    </div>
</div>